body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../ClassManage_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:408px;
}

.u0 {
    position:absolute;
    left:130px;
    top:59px;
    width:10px;
    height:408px;
    
}

.u1_line {
    background-image: url('../ClassManage_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1004px;
    height:3px;
}

.u1 {
    position:absolute;
    left:-43px;
    top:54px;
    width:1004px;
    height:10px;
    
}

#u2 {
    position:absolute;
    left:167px;
    top:136px;
    width:749px;
    height:129px
}

.u3_normal {
    background-image: url('../ClassManage_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../ClassManage_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:76px;
    top:0px;
    width:73px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../ClassManage_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:149px;
    top:0px;
    width:58px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../ClassManage_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:207px;
    top:0px;
    width:57px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../ClassManage_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:264px;
    top:0px;
    width:75px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../ClassManage_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:339px;
    top:0px;
    width:154px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../ClassManage_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:493px;
    top:0px;
    width:118px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../ClassManage_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:611px;
    top:0px;
    width:133px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../ClassManage_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:20px;
    width:76px;
    height:35px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:41px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../ClassManage_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:76px;
    top:20px;
    width:73px;
    height:35px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:41px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../ClassManage_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:149px;
    top:20px;
    width:58px;
    height:35px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:41px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../ClassManage_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:207px;
    top:20px;
    width:57px;
    height:35px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:41px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../ClassManage_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:264px;
    top:20px;
    width:75px;
    height:35px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:41px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../ClassManage_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:339px;
    top:20px;
    width:154px;
    height:35px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:41px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../ClassManage_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:493px;
    top:20px;
    width:118px;
    height:35px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:41px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../ClassManage_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:611px;
    top:20px;
    width:133px;
    height:35px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:41px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../ClassManage_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:55px;
    width:76px;
    height:33px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:39px;
}

.u36 {
    position:absolute;
    left:2px;
    top:8px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../ClassManage_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:76px;
    top:55px;
    width:73px;
    height:33px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:39px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../ClassManage_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:149px;
    top:55px;
    width:58px;
    height:33px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:39px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../ClassManage_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:207px;
    top:55px;
    width:57px;
    height:33px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:39px;
}

.u42 {
    position:absolute;
    left:2px;
    top:8px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../ClassManage_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:264px;
    top:55px;
    width:75px;
    height:33px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:39px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../ClassManage_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:339px;
    top:55px;
    width:154px;
    height:33px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:39px;
}

.u46 {
    position:absolute;
    left:2px;
    top:8px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../ClassManage_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:493px;
    top:55px;
    width:118px;
    height:33px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:39px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../ClassManage_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:611px;
    top:55px;
    width:133px;
    height:33px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:39px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../ClassManage_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:88px;
    width:76px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:42px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../ClassManage_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:76px;
    top:88px;
    width:73px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:42px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../ClassManage_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:149px;
    top:88px;
    width:58px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:42px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../ClassManage_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:207px;
    top:88px;
    width:57px;
    height:36px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:42px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../ClassManage_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:264px;
    top:88px;
    width:75px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:42px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../ClassManage_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:339px;
    top:88px;
    width:154px;
    height:36px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:42px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../ClassManage_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:493px;
    top:88px;
    width:118px;
    height:36px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:42px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../ClassManage_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:611px;
    top:88px;
    width:133px;
    height:36px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:42px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:821px;
    top:163px;
    width:78px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:821px;
    top:197px;
    width:78px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:821px;
    top:231px;
    width:78px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:167px;
    top:86px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:366px;
    top:86px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:263px;
    top:86px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:453px;
    top:86px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:537px;
    top:86px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:622px;
    top:86px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:715px;
    top:86px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:825px;
    top:86px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:99px;
    top:22px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:24px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:23px;
    top:142px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:23px;
    top:168px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:23px;
    top:196px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:24px;
    top:93px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:24px;
    top:70px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:23px;
    top:222px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

