body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../PaperManage_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:408px;
}

.u0 {
    position:absolute;
    left:130px;
    top:59px;
    width:10px;
    height:408px;
    
}

.u1_line {
    background-image: url('../PaperManage_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1004px;
    height:3px;
}

.u1 {
    position:absolute;
    left:-43px;
    top:54px;
    width:1004px;
    height:10px;
    
}

#u2 {
    position:absolute;
    left:167px;
    top:136px;
    width:540px;
    height:233px
}

.u3_normal {
    background-image: url('../PaperManage_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../PaperManage_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../PaperManage_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:200px;
    top:0px;
    width:107px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../PaperManage_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:307px;
    top:0px;
    width:129px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../PaperManage_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:436px;
    top:0px;
    width:99px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../PaperManage_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:52px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u14 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../PaperManage_files/u13_normal.png');
}

.u15_container {
    position:absolute;
    left:100px;
    top:20px;
    width:100px;
    height:52px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u16 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../PaperManage_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:200px;
    top:20px;
    width:107px;
    height:52px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:58px;
}

.u18 {
    position:absolute;
    left:2px;
    top:18px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../PaperManage_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:307px;
    top:20px;
    width:129px;
    height:52px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:58px;
}

.u20 {
    position:absolute;
    left:2px;
    top:18px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../PaperManage_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:436px;
    top:20px;
    width:99px;
    height:52px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:58px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../PaperManage_files/u13_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:72px;
    width:100px;
    height:52px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u24 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../PaperManage_files/u13_normal.png');
}

.u25_container {
    position:absolute;
    left:100px;
    top:72px;
    width:100px;
    height:52px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u26 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../PaperManage_files/u17_normal.png');
}

.u27_container {
    position:absolute;
    left:200px;
    top:72px;
    width:107px;
    height:52px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:58px;
}

.u28 {
    position:absolute;
    left:2px;
    top:18px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../PaperManage_files/u19_normal.png');
}

.u29_container {
    position:absolute;
    left:307px;
    top:72px;
    width:129px;
    height:52px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:58px;
}

.u30 {
    position:absolute;
    left:2px;
    top:18px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../PaperManage_files/u21_normal.png');
}

.u31_container {
    position:absolute;
    left:436px;
    top:72px;
    width:99px;
    height:52px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:58px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../PaperManage_files/u13_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:124px;
    width:100px;
    height:52px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u34 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../PaperManage_files/u13_normal.png');
}

.u35_container {
    position:absolute;
    left:100px;
    top:124px;
    width:100px;
    height:52px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u36 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../PaperManage_files/u17_normal.png');
}

.u37_container {
    position:absolute;
    left:200px;
    top:124px;
    width:107px;
    height:52px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:58px;
}

.u38 {
    position:absolute;
    left:2px;
    top:18px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../PaperManage_files/u19_normal.png');
}

.u39_container {
    position:absolute;
    left:307px;
    top:124px;
    width:129px;
    height:52px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:58px;
}

.u40 {
    position:absolute;
    left:2px;
    top:18px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../PaperManage_files/u21_normal.png');
}

.u41_container {
    position:absolute;
    left:436px;
    top:124px;
    width:99px;
    height:52px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:58px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../PaperManage_files/u13_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:176px;
    width:100px;
    height:52px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u44 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../PaperManage_files/u13_normal.png');
}

.u45_container {
    position:absolute;
    left:100px;
    top:176px;
    width:100px;
    height:52px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u46 {
    position:absolute;
    left:2px;
    top:18px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../PaperManage_files/u17_normal.png');
}

.u47_container {
    position:absolute;
    left:200px;
    top:176px;
    width:107px;
    height:52px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:58px;
}

.u48 {
    position:absolute;
    left:2px;
    top:18px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../PaperManage_files/u19_normal.png');
}

.u49_container {
    position:absolute;
    left:307px;
    top:176px;
    width:129px;
    height:52px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:58px;
}

.u50 {
    position:absolute;
    left:2px;
    top:18px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../PaperManage_files/u21_normal.png');
}

.u51_container {
    position:absolute;
    left:436px;
    top:176px;
    width:99px;
    height:52px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:58px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:168px;
    top:86px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:275px;
    top:84px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:384px;
    top:84px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:616px;
    top:88px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:102px;
    top:28px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:613px;
    top:173px;
    width:78px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:613px;
    top:278px;
    width:78px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:613px;
    top:223px;
    width:78px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:613px;
    top:331px;
    width:78px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:24px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:23px;
    top:142px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:23px;
    top:168px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:23px;
    top:196px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:24px;
    top:93px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:24px;
    top:70px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:23px;
    top:222px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

